/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

#hits em {
  @apply underline decoration-blue-500 decoration-4 underline-offset-4 not-italic bg-blue-500 bg-opacity-20;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/static/fonts/roboto-v20-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    url('/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/roboto-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/roboto-v20-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/roboto-v20-latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
    url('/static/fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/roboto-v20-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/static/fonts/roboto-v20-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('/static/fonts/roboto-v20-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/static/fonts/roboto-v20-latin-300.svg#Roboto') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/static/fonts/roboto-v20-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    url('/static/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/static/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/static/fonts/roboto-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/static/fonts/roboto-v20-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/static/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/roboto-v20-latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('/static/fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/static/fonts/roboto-v20-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/static/fonts/roboto-v20-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('/static/fonts/roboto-v20-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/static/fonts/roboto-v20-latin-500.svg#Roboto') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/roboto-v20-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/static/fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/static/fonts/roboto-v20-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/static/fonts/roboto-v20-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('/static/fonts/roboto-v20-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/static/fonts/roboto-v20-latin-700.svg#Roboto') format('svg');
  /* Legacy iOS */
}

html {
  font-family: 'Roboto' !important;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1555bc;
  --ifm-color-primary-dark: #134ca9;
  --ifm-color-primary-darker: #1248a0;
  --ifm-color-primary-darkest: #0f3b84;
  --ifm-color-primary-light: #175dcf;
  --ifm-color-primary-lighter: #1862d8;
  --ifm-color-primary-lightest: #2972e7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4ade80;
  --ifm-color-primary-dark: #22c55e;
  --ifm-color-primary-darker: #16a34a;
  --ifm-color-primary-darkest: #15803d;
  --ifm-color-primary-light: #86efac;
  --ifm-color-primary-lighter: #bbf7d0;
  --ifm-color-primary-lightest: #dcfce7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer {
  --ifm-footer-background-color: #000000;
  --ifm-link-color: #ffffff;
}

.footer--dark {
  --ifm-footer-background-color: #000000;
  --ifm-link-color: #ffffff;
}

.footer__title {
  font-family: 'Roboto' !important;
  font-size: 0.875rem;
  font-weight: 400;
}

.footer__item {
  font-size: 0.875rem;
  font-weight: 400;
}

.footer__copyright {
  font-size: 0.9rem;
}

@media screen and (max-width: 996px) {
  .hero__title {
    font-size: 1.8rem;
  }

  .hero__subtitle {
    font-size: 1.3rem;
  }

  .button {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 640px) {
  .hero__title {
    font-size: 1.5rem;
  }

  .hero__subtitle {
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
  }
}